
html{
    font-family: 'Nunito Sans', sans-serif;
}

body{

}
.content{
   max-width: 1170px;
    margin: 0 auto;
    text-align: center;

}
h1{
    font-size: 1.2em;
    font-weight: 100;
    z-index: 1;
}
h2 {
    margin: 2em;
}
h3{
    text-transform: uppercase;
}
h4{
}
h5{
}
h6{
}
a{
}
p{
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}

#header{
    position: absolute;
    z-index: 3;
    top:0;
    left: 0;
    right: 0;
}
#header.default{
    position: fixed;
    z-index: 3;
    top:0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 1);
}





.default .main-menu__nav ul a {
    font-weight: 500;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}
.default .logo{
    background:  url("../img/logo/final-logo.png") center center no-repeat;

}



.headerbetween{
    z-index: 3;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.sl__img1{
    background: #fff url("../img/slides/slide4.jpg") 0 0 no-repeat;
    height: 100vh;
    width: 100%;
    min-height: 700px;
    background-size: cover;
    position: relative;
}


.sl__img2{
    background: #fff url("../img/slides/slide2.jpg") 0 0 no-repeat;
    height: 100vh;
    width: 100%;
    min-height: 700px;
    background-size: cover;
    position: relative;
}


.sl__img3{
    background: #fff url("../img/slides/slide3.jpg") 0 0 no-repeat;
    height: 100vh;
    width: 100%;
    min-height: 700px;
    background-size: cover;
    position: relative;
}
.fcenter{
    z-index: 2;
    text-align: left;
    font-size: 4em;
    color: white;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}

.sl h1{
    z-index: 2;
}

.sl_overflow{
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    top: 0;
}

.main-menu__language{
    padding: 10px 20px;
}
.main-menu-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.FBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background:  url("../img/logo/final-logo2.png") center center no-repeat;
    height: 80px;
    width: 25%;
    background-size: 100%;
}

.main-menu__nav ul{
    list-style:none;
    display: flex;
}



.main-menu__nav ul a
{
    display:block;
    text-decoration:none;
    font-weight:100;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    color: white;
}

.main-menu__nav ul li
{
    position:relative;
}


.main-menu__nav ul li a:hover
{
    cursor: pointer;
    opacity: .8;
}

.main-menu__nav ul ul
{
    display:none;
    position:absolute;
    top:100%;
    right:0;
    background: rgba(0, 0, 0, 0.11);
    padding:0
}
.main-menu__nav ul ul li{
    border-top: 1px solid rgba(220, 220, 220, 0.51);
    width: 150px;
}

.main-menu__nav ul ul ul
{
    top:0;
    right:100%
}

.main-menu__nav ul li:hover > ul
{

    display:block
}


input {outline:none;}
.main-menu__search {
    width: 35%;
    position: relative;
}

.main-menu__search input {
    border: none;
}

.main-menu__search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}
.main-menu__search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

.main-menu__search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url("../img/icon/search.png") center center no-repeat;

}
.main-menu__search .submit:hover {
    opacity: 0.8;
}
input[type="search"] {
    -webkit-appearance: none;
}

.fcolumn{
    display: flex;
    flex-direction: column;
}

.trip-area ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trip-area__item img{
    margin: 20px;
    border-radius: 50%;
    border: 3px solid #00000054;
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    filter: grayscale(1);
    transition: 0.5s;
}

.trip-area__item img:hover{
    filter: grayscale(0);
}


.tour-area__tour img{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 320px;
    background-size: cover;
}



.FlexWrap{
    display: flex;
    flex-wrap: wrap;
}
.FlexWrap a{
    position: relative;
    height: 400px;
    flex: 0 0 25%;
}
.FlexWrap a:after{
    border: 1px solid white;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
    opacity: .8;
}
@media (max-width: 1180px) {
    .FlexWrap a{
        flex: 0 0 50%;
    }
}
@media (max-width: 768px) {
    .FlexWrap a{
        flex: 0 0 100%;
    }
}

.text{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 20px 10px 20px;
    color: white;
    z-index: 1;
    transition: .5s;
}

.tour-area a:hover .text{
    border: 1px solid rgba(255, 0, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.backNews{
    text-align: center;
    padding: 9em;
}
.BlogBorder{
    padding: 6px;
    width: 350px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1), 0 0 7px 2px rgba(0, 0, 0, 0.1);
}

.backNews a:hover .Blogtext>* {
    color: white;

}
.backNews a:hover{

    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 55px 20px rgba(0, 0, 0, 0.51), 0 0 57px 20px rgba(255, 255, 255, 0.51);
}
.backNews a:hover .Blogtext p:after{
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%, rgba(255, 255, 255, 0.11) 100%);

}

.Blogtext h3{
    font-size: 20px;
    color: black;
}
.TimeComment{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #c0c0c0;
}


.BlogBorder img{
    height: 200px;
    width: 100%;
}
.Blogtext{

    position: relative;
    padding: 10px;

}
.Blogtext p{
    color: #7f7f7f;
    font-size: 14px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .5s;
}


/*blog*/

.blog-area__blog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.blog-post{
    max-width: 320px;
    background-color: grey;
    max-height: 500px;
}
.blog-area_details{
    display: flex;
    flex-direction: column;
}
.tags{
    display: flex;
    flex-wrap: wrap;

}
.tags li{
    border-radius: 30px;
    border: 1px solid orangered;
}

/*blog*/






.BackContact{

    background: #2C2E3E;
     color: rgba(255, 255, 255, 0.5);
}
.BackContact li{
    text-align: left;
}

.BackContact a:hover{
    opacity: .4;
}
.BackContact  a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.contactAdress li{
    padding-bottom: 10px;
    position: relative;
}
.iconContact{
    position: absolute;
    left: -25px;
    top: 3px;
}


















/*tour*/
.tour-title-img{
    background: #fff url("../img/slides/slide3.jpg") 0 0 no-repeat;
    width: 100%;
    height: calc(100vh - 257px);
    min-height: 500px;
    background-size: cover;
    position: relative;
}
.tour-page-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.tour-page-area__tour-item{
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;

    flex: 1 1 700px;
}

.tour-page-area__category{
    background-color: violet;

    flex: 1 1 200px;
}

.tour-item{
    max-width: 320px;
    height: 400px;
}
.block{
    height: 540px;
    flex: 1 1 300px;

    margin: 10px;
    background-color: orangered;
}
.block1{
    min-width: 200px;
    min-height: 200px;
    background-color: #b80004;
    margin: 10px;
}
/*tour*/